:root {
    --typography-color: #838383;
    --border-color: rgba(255, 255, 255, .2);
    --button-color: #0b582b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.exam-photo {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exam-photo img {
    width: 100%;
    height: auto;
    display: block;
}

.overall-wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: var(--typography-color);
}

.overall-wrapper {
    display: flex;
    width: 1000px;
    height: 500px;
    background: transparent;
    border: 2px solid var(--border-color);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 px rgba(0, 0, 0, .2);
    color: var(--typography-color);
    border-radius: 10px;
    /* padding: 30px 40px; */
}

.overall-wrapper form {
    width: 55%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overall-wrapper .wrapper {
    display: flex;
    gap: 20px;
}

.form-row input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .form-row {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    position: relative;
}

.wrapper .form-row label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    color: rgb(218, 223, 223);
    padding: 0 5px;
    transition: .5s;
}

.form-row input {
    width: 100%;
    height: 50px;
    border: none;
    background: transparent;
    outline: none;
    border: 2px solid var(--border-color);
    border-radius: 40px;
    margin-top: 6px;
    font-size: 18px;
    font-weight: 500;
    color: var(--typography-color);
    padding: 20px 45px 20px 20px;
}

.wrapper .form-row input:focus ~ label,
.wrapper .form-row input:not(:placeholder-shown) ~ label {
    top: 0;
    background: rgb(24, 24, 24);
    font-size: 14px;
}

.wrapper .form-row input:not(:placeholder-shown):invalid {
    border: 2px solid red;
}

.wrapper .form-row input:not(:placeholder-shown):valid {
    border: 2px solid var(--button-color);
}

.overall-wrapper button {
    width: 100%;
    height: 45px;
    background-color: var(--button-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: var(--typography-color);
    font-weight: 600;
    margin: 14px 0;
}

.overall-wrapper button:hover {
    background-color: #205c39;
}

.overall-wrapper .login-link {
    color: var(--typography-color);
    text-decoration: none;
    margin: 0 0 15px;
}

.login-link p a {
    color: var(--typography-color);
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}

.preloader {
    background: #121212;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: vanish 0.5s ease-out 2s forwards;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid var(--typography-color);
    border-top: 5px solid var(--button-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes vanish {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}
